<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
      <add key="AllowedSubnet" value="0.0.0.0/32"/>
      <add key="AccessKey" value="redacted" />
      <add key="SecretKey" value="redacted"/>
      <add key="AccountId" value="redacted" />
      <add key="AWSRegion" value="redacted"/>
      <add key="TerminateInstanceID" value="redacted"/>
      <add key="TerminateInstanceName" value="redacted"/>
      <add key="KeyName" value="redacted" />
      <add key="WindowsInstanceType" value="redacted" />
      <add key="WindowsEbsVolumeSize" value="redacted" />
      <add key="SiftInstanceType" value="redacted" />
      <add key="SiftEbsVolumeSize" value="redacted" />
  </appSettings>
</configuration>